{% load static %}

<html>
    <head>
    
        <title>OBU</title>
         <div>
                  <h2><a href= "/admin/erp/clientes">Clientes</a>
                            <a href="/admin/comidas/respuesta/2/change/">Productos</a>
                            <a href="/admin/comidas/respuesta/4/change/">OBU</a>
                           <a href="/admin/comidas/respuesta/5/change/">Noticias</a>
                           <a href="/admin/comidas/respuesta/6/change/">Contacto</a>  
                              </h2> </div> 
        
        <link rel="stylesheet" href="{% static 'erp/style.css' %}" >
        
    </head>
<html>

 <div align= "center">
      <img src=https://scontent.fmvd1-1.fna.fbcdn.net/v/t1.0-9/88228520_10158283336577578_1144823910705922048_o.jpg?_nc_cat=102&_nc_sid=8024bb&_nc_oc=AQlBaY0DjwxRlx-g9SqLo62xgih0miJaFNOCqqYgjtqBpvBXot4tD0GT_yi75zSO4oY&_nc_ht=scontent.fmvd1-1.fna&oh=4fb7e9bdf05743e834ce1bbf84f29a70&oe=5E9795C7  style="max-width:100%;width:100%;height:auto; aling= center">               
         </div>
        <body>
          </div> <div align= "center">
                 <img src=https://scontent.fmvd1-1.fna.fbcdn.net/v/t1.0-9/s960x960/88169088_10158279496177578_2324341781249916928_o.jpg?_nc_cat=107&_nc_sid=8024bb&_nc_oc=AQl6xsuqHCatlo00p6nvqIZDCUaZFSiB7PBcazBuhms8Y_xTBcxGisGBNn1fsgPF5T0&_nc_ht=scontent.fmvd1-1.fna&_nc_tp=7&oh=74dc920e670321e216fb9cf1a5f8f22f&oe=5E986E23 style="max-width:100%;width:70%;height:auto; aling= center">
                  <p> </p>
                    <div align= "center" >
                    <h3><a >¿UN BANCO QUE NUNCA CIERRA? Solo es posivle gracias a OBU</a></h3>
                     <style type="text/css">
                     body {
                           color: blue;
                           background-color: waithe;
                           font: 800 18.3333px Arial;
                            }
                            </style>               <br /> 
                     <h2>
                            
                            <button><a href= "/admin/erp/clientes">Clientes</a></button>
                            <button><a href="/admin/comidas/respuesta/2/change/">Productos</a></button>
                            <button><a href="/admin/comidas/respuesta/4/change/">OBU</a></button>
                            <button><a href="/admin/comidas/respuesta/5/change/">Noticias</a></button>
                            <button><a href="/admin/comidas/respuesta/6/change/">Contacto</a></button>   
                           
                            </div> 
                          
                            <div align= "center">

                            </div>
                               <h3><a >Envia tu cedula o rut, junto con tu nombre completo o razon social, PARA COMENZAR A OPERAR CON ONLINE BANK URUGUAY EN MINUTOS</a> <h3>
                                   
<br />   
                                    <h3><a >Contacto OBU rafaelnuñezinzaurralde@gmail.com</a> 
                                    <button2><a href="https://outlook.live.com/owa/">Enviar hotmail</a></button2> <button2><a href="https://accounts.google.com/signout/chrome/landing?continue=https://mail.google.com/mail&oc=https://mail.google.com/mail&hl=es">Enviar gmail</a></button2> </h3>
                                   
                   
                    <br>  
                      <br /> 
                    
           
             </div>
                    <br />  



 </body>                    
         
                               
 
